



/*footer css */
footer {
    position: fixed;
    bottom: 0;
    background-color: #41a313;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: #fff;
    flex-wrap: wrap;
}

/* media */

@media (min-width: 576px) {
    .column-preview {
        flex: 1 1 50%;
    }
}

@media (min-width: 768px) {
    .column-preview {
        flex: 1 1 33.33%;
    }
}

@media (min-width: 992px) {
    .column-preview {
        flex: 1 1 25%;
    }
}

@media (min-width: 1200px) {
    .column-preview {
        flex: 1 1 20%;
    }
}

@media (max-width: 1400px) {
    .column-preview {
        max-width: 45%;
    }
}

@media (max-width: 900px) {
    .column-preview {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .row-preview {
        flex-direction: column;
        align-items: center;
    }

    .column-preview {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 20%;
        margin-top: -50px;
        margin-left: -10px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 30%;
        margin-top: -25px;
        margin-left: -5px;
    }
}

@media (max-width: 600px) {
    nav {
        justify-content: center;
    }

    nav a {
        margin: 5px;
        /* Add a bit more margin for smaller screens */
    }
}